@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer utilities {
    .animatie-text-footer1 {
        @apply animate-wiggle1 transition ease-in-out duration-300;
    }
    
    .animatie-text-footer2 {
        @apply animate-wiggle2 transition ease-in-out duration-300;
    }

    
    .animatie-text-hover{
        @apply hover:text-text-color transition hover:translate-x-3 duration-500
    }
}
*/
@layer components{

    .smooth-scroll-wrapper {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    body {
        overflow: overlay;
    }
    
 /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-black
  }
  
}

body {
    font-family: sans-serif;
  }
  
  ::-webkit-scrollbar {
    width: 14px;
  }
  
  ::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #000000;
  }

.responsive{
    @apply bg-lime-300 md:bg-red-300 lg:bg-blue-300 xl:bg-yellow-300 2xl:bg-purple-300
}

  
.padding-responsive{
    @apply 2xl:px-44 px-10
}

#footer1::after {
    content: "";
    background: url('https://previews.123rf.com/images/topform8/topform81310/topform8131000079/22544466-fast-food-vector-icons-in-sketch-style.jpg');
    opacity: 0.03;
    background-repeat: repeat-x;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }
  
/*
.padding-t-hero {
    @apply 2xl:my-64 xl:my-60 lg:my-52 md:my-44 my-36
}

.text-meniu-header{
    @apply font-medium text-lg flex space-x-6 lg:space-x-12 capitalize text-text-color
}

.descriere-proiect {
    @apply text-text-color xl:text-xl font-normal xl:leading-8 md:text-lg text-lg md:leading-8
}

.buton-proiect{
    @apply capitalize xl:text-lg font-medium text-text-color lg:text-base
}

.titlu-proiect {
    @apply text-text-color 2xl:text-4xl xl:text-[2.8rem] xl:leading-[4rem] xl:tracking-tight lg:text-[2.7rem] font-medium md:text-4xl text-3xl
}

.tag-proiect{
    @apply font-medium text-xl w-full capitalize text-text-color
}

.titlu-sectiune {
    @apply text-text-color xl:text-6xl xl:leading-[4.7rem] lg:text-5xl lg:leading-[3.3rem] md:leading-[2.8rem] leading-[2.4rem] text-4xl tracking-normal font-normal capitalize text-left
}

.descriere-sectiune{
    @apply text-text-color text-2xl font-normal leading-10 w-3/5
}

.titlu-footer{
    @apply text-text-color xl:text-[4.5rem] lg:text-[4rem] md:text-[3.5rem] text-[2.4rem] xl:leading-[5rem] lg:leading-[4rem] md:leading-[3.2rem] leading-[2.7rem] tracking-tight font-medium space-y-3 text-left
}

.titlu-hero{
    @apply text-text-color xl:text-[5rem] lg:text-[4.3rem] md:text-[3.7rem] text-[3rem] xl:leading-[5.3rem] lg:leading-[4rem] md:leading-[3.2rem] leading-[2.7rem] tracking-tight font-medium space-y-3 text-left
}

.subtitlu-titlu{
    @apply text-text-color xl:text-[3.3rem] lg:text-[3rem] md:text-[2.7rem] text-[2.4rem] xl:leading-[4rem] lg:leading-[3.5rem] md:leading-[3.2rem] leading-[2.7rem] tracking-tight font-medium space-y-3 text-left
}

.overtitle-footer{
    @apply text-text-color text-xl font-normal leading-8 text-left
}

.descriere-subtitlu{
    @apply text-xl md:text-2xl leading-[2rem] md:leading-[2.3rem] w-full 2xl:w-4/5 text-text-color
}

.text-portofoliu{
    @apply text-xl font-medium md:text-2xl leading-[2rem] md:leading-[2.3rem] w-2/3 mt-8
}

.taguri-portofoliu{
    @apply text-text-color xl:text-lg font-normal xl:leading-8 md:text-lg text-lg md:leading-8 mt-3
}

.margin-t-portofoliu{
    @apply lg:mt-64 mt-40
}

.margin-t-sectiune-port{
    @apply lg:mt-80 mt-40
}

.padding-y-footer{
    @apply 2xl:pt-20 pb-10 pt-20
}

.margin-t-border{
    @apply 2xl:mt-72 xl:mt-80 lg:mt-64 md:mt-56 mt-40
}

.space-grid-2{
    @apply lg:space-y-36 space-y-16
}

.spatiu-proiecte{
    @apply 2xl:space-y-96 xl:space-y-52 lg:space-y-48 md:space-y-40 space-y-36
}

.margin-t-proiect{
    @apply xl:mt-72 lg:mt-60 md:mt-56 mt-40
}

.margin-t-sectiune{
    @apply 2xl:mt-72 xl:mt-60 md:mt-56 mt-40

}

.margin-t-buton{
    @apply xl:mt-16 md:mt-12 mt-8
}
*/


.descriere-subtitlu{
    @apply w-full 2xl:w-4/5
}

@layer utilities {
    .linie-sub-text {
      background-size: 0% 0.2em;
      background-position: 0 110%;
      
      @apply bg-no-repeat  transition-all ease-in-out duration-[200ms] bg-gradient-to-r from-[#1d1d1f] to-[#1d1d1f];
    }
    .linie-sub-text1 {
      background-size: 100% 0.2em;
    }
    .linie-sub-text2 {
      background-size: 100% 0.2em;
    }
}

@layer base {
    h2 {
      @apply text-4xl lg:text-5xl xl:text-6xl xl:leading-[4.3rem] lg:tracking-tight font-normal text-neutral-900;
    }
    h3 {
      @apply text-xl leading-10 xl:text-2xl xl:leading-10 font-medium;
    }
    p {
      @apply text-[1.2rem] leading-7 lg:text-[1.35rem] lg:leading-8 font-normal text-neutral-800;
    }
    h4 {
        @apply text-4xl lg:text-5xl xl:text-3xl xl:leading-[3rem] lg:tracking-tight font-normal;
      }
    h6 {
        @apply text-4xl;
    }
  }

.padding-responsive {
    @apply px-10 lg:px-24 xl:px-28 2xl:px-72
}

.padding-responsive-text {
    @apply lg:px-12 xl:px-24 2xl:px-40
}
